* {
    box-sizing: border-box;
}
    
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    
   

}

/* Style the container/contact/bottom section */
.wrapper {
    margin: 10px auto;
    padding: 10px;
    width: 960px;
    height: 870px;
    background: url("../images/automobile-154864__340.png");
    background-size: 3%;
    border-right: 3px green solid;
    border-left: 3px red solid;
    border-top: 3px yellow solid;
    border-bottom: 3px yellow solid;


    
}
.myHeader{
    position: relative;
    left: 140px;
    margin:0px 0px 20px 0px;
    padding:0px 0px 0px 0px;
    box-sizing: header;
    
    background-color: #ffffff;
    width: 680px;
    height: 150px;
    font-size: 48px;
    line-height: 1.6;
    text-align: center;
    font-family: 'Monoton', cursive;
   
    font-weight: bold;
    border-bottom: 5px green solid;
    border-top: 5px red solid;
    border-right: 5px yellow solid;
    border-left: 5px yellow solid;


}



.leftSide {
   
    float: left;
    text-align: center;
    width: auto;
    padding: 19px 5px;

}

.rightSide {
    background: #ffffff;
    color: red;
    font-size: 24px;
    line-height: 1.8;
    float: right;
    text-align: center;
    height: 350px;
    width: auto;
    padding: 19px 5px;
    border-bottom: 2px green solid;
    border-top: 2px red solid;
    border-right: 2px yellow solid;
    border-left: 2px yellow solid;


}

#close {
    color: red;
   
}
#newSong {
    color: green;
}